#pragma code_page(65001)
#include <windows.h>
1 RT_MANIFEST "sanddata_editor.manifest"
201 DIALOGEX 0,0,270,86
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "名称"
FONT 10,"Microsoft YaHei UI"
BEGIN
    LTEXT "名称（SandFS 路径不能含空格）",-1,12,10,246,14
    EDITTEXT 1001,12,28,246,16,ES_AUTOHSCROLL
    DEFPUSHBUTTON "确定",IDOK,145,59,54,17
    PUSHBUTTON "取消",IDCANCEL,205,59,54,17
END
